<navbar></navbar>

<div class="container">

	<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index);">
		{{alert.msg}}
	</alert>

</div>

<div class="container" ng-show="validAgreementId">

	<h1>
		<span class="glyphicon glyphicon-time"></span> Classes
	</h1>

	<h3>
		<a href="#/faculty/{{faculty.id}}/edit">{{faculty.name}}</a>
	</h3>
	
	<div>Age: {{faculty.age || "-"}}</div>
	<div>Email: {{faculty.email || "-"}}</div>
	<div>Phone: {{faculty.phone || "-"}}</div>

	<h3>
		Agreement <a href="#/agreement/{{contract.id}}/edit">#{{agreement.id}}</a>
	</h3>
	
	<div>Start Date: {{agreement.startdate | date}}</div>
	<br/><br/>

	<table class="table table-striped">
		<tr>
			<th>#</th>
			<th>Id</th>
			<th>Course</th>
			<th>Type</th>
			<th>Timing</th>
			<th>Actions</th>
		</tr>
		<tr ng-repeat="group in groups">
			<td>{{$index+1}}</td>
			<td>{{group.id}}</td>
			<td>{{group.subject}}</td>
			<td>{{group.type}}</td>
			<td>{{group.start}} - {{group.end}}</td>
			<td>
				<a href="#/group/{{group.id}}/edit" class="btn btn-link"> 
					<span class="glyphicon glyphicon-edit"></span> Edit
				</a>
		</tr>
	</table>



</div>