<div class="container">

	<br/><br/><br/><br/>

	<form class="col-sm-6 col-sm-offset-3" ng-submit="login()">
		<h1>
			<span class="glyphicon glyphicon-user"></span> Login
		</h1>
		<div class="form-group">
			<input type="text" class="form-control input-lg" placeholder="User Id" ng-model="user.username" required ng-change="resetAlerts()">
		</div>
		<div class="form-group">
			<input type="password" class="form-control input-lg" placeholder="Password" ng-model="user.password" required ng-change="resetAlerts()">
		</div>
		<div class="form-group">
			<button class="btn btn-primary btn-lg btn-block">Login</button>
		</div>
		<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index);">
			{{alert.msg}}
		</alert>
	</form>

</div>
