<div class="container">
	<div class="page-header">
		<h1>Students<small>search view and update</small></h1>
	</div>
	

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Students</h3>
		</div>
		<div class="panel-body" >
			
			<studentsearch action="get" reset="reset()"></studentsearch>

		</div>
	</div>

	<div ng-if="student" class="panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title">{{info.details.name | uppercase }}</h3>
		</div>
		<div class="panel-body" >

			<form class="form-horizontal" role="form" ng-submit="updatedetails()">
			
				<div class="form-group form-group">
					<label class="col-sm-2 control-label" for="formGroupInputSmall">Date of Birth</label>
					<div class="col-sm-10">
						<input type="date" class="form-control" ng-model="info.details.dob"/>
					</div>
				</div>
			
				<div class="form-group form-group">
					<label class="col-sm-2 control-label" for="formGroupInputSmall">Email</label>
					<div class="col-sm-10">
						<input type="email" class="form-control" ng-model="info.details.contact.email"/>
					</div>
				</div>
			
				<div class="form-group form-group">
					<label class="col-sm-2 control-label" for="formGroupInputSmall">Phone</label>
					<div class="col-sm-10">
						<input type="text" maxlength="10" class="form-control" ng-model="info.details.contact.phone"/>
					</div>
				</div>
			
				<div class="form-group form-group">
					<label class="col-sm-2 control-label" for="formGroupInputSmall">Address</label>
					<div class="col-sm-10">
						<input type="text" maxlength="200" class="form-control" ng-model="info.details.contact.address"/>
					</div>
				</div>
			
				<div class="form-group form-group">
					<label class="col-sm-2 control-label" for="formGroupInputSmall">Institutiton</label>
					<div class="col-sm-10">
						<input type="text" maxlength="200" class="form-control" ng-model="info.details.institution"/>
					</div>
				</div>
			
				<div class="form-group form-group">
					<label class="col-sm-2 control-label" for="formGroupInputSmall">Course Enquired</label>
					<div class="col-sm-10">
						<input type="text" maxlength="200" class="form-control" ng-model="info.details.enquiry.course"/>
					</div>
				</div>

			
				<div class="form-group form-group">
					<label class="col-sm-2 control-label" for="formGroupInputSmall">Required Subjects</label>
					<div class="col-sm-10">
						<input type="text" maxlength="200" class="form-control" ng-model="info.details.enquiry.subjects"/>
					</div>
				</div>

			
				<div class="form-group form-group">
					<label class="col-sm-2 control-label" for="formGroupInputSmall">Preferred Start Date</label>
					<div class="col-sm-10">
						<input type="date" class="form-control" ng-model="info.details.enquiry.start"/>
					</div>
				</div>

				<input type="submit" class="btn btn-default col-sm-offset-2" value="Update" />


			</form>


		</div>
	</div>


	<div ng-if="info.contracts.length>0" class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Contracts</h3>
		</div>
		<div class="panel-body" >
			
			<table class="table table-hover">
				<tr>
					<th>#</th>
					<th>J.D.</th>
					<th>Hours</th>
					<th>Amount</th>
					<th>Type</th>
					<th>(Instalments)</th>
				</tr>
				<tr ng-repeat="c in info.contracts" ng-click="selectSubjects(c.subjects)">
					<td>{{$index+1}}</td>
					<td>{{c.joiningdate | date}}</td>
					<td>{{c.hours}}</td>
					<td>{{c.amount}}</td>
					<td>{{c.mode}}</td>
					<td>{{c.instalments || "NA"}}</td>
				</tr>
			</table>


		</div>
	</div>



	<div ng-if="subjects.length>0" class="panel panel-success">
		<div class="panel-heading">
			<h3 class="panel-title">Subjects</h3>
		</div>
		<div class="panel-body" >

			<table class="table table-hover">
				<tr>
					<th>#</th>
					<th>Subject</th>
					<th>Faculty</th>
					<th>Type</th>
				</tr>
				<tr ng-repeat="s in subjects">
					<td>{{$index+1}}</td>
					<td>{{s.name}}</td>
					<td>{{s.faculty.name}}</td>
					<td>{{s.type || "-"}}</td>
				</tr>
			</table>
		
		</div>
	</div>

</div>