	<html>
	<body>
		<script src="js/angular.js"></script>
		<script>
			var app = angular.module("app", []);
			app.controller("con",function($scope){
			});
			app.directive("dir",function(){
				return {
					restrict:"E",
					scope:{
						val:"=ngModel"
					},
					template:"{{val}}{{val2}}<button ng-click='val=0'></button>",
					link:function(scope, element, attrs){
						scope.$watch('val', function(value){
							if(!angular.isUndefined(value))
							{
								console.log(value);
								scope.val2="changed"
							}
						});
					}
				}
			})
		</script>
		<div ng-app="app" ng-controller="con">
			<input type="text" ng-model="val_out"/>
			<dir ng-model="val_out"></dir>
		</div>
	</body>