<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">VLC Institute</a>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">

				<li><a href="#/">Students</a></li>
				<li><a href="#/faculties">Faculties</a></li>

			</ul>
			
			<ul class="nav navbar-nav navbar-right">
				<li ng-if="user"><a href="/admin">{{user.username}}</a></li>
				<li ng-if="user"><a href="#/user/logout">Logout</a></li>
				<li ng-if="!user"><a href="#/user/login">Login</a></li>

			</ul>

		</div>
	</div>
</nav>