<div class="container">
	<div class="page-header">
		<h1>Students<small>search</small></h1>
	</div>
	

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Student</h3>
		</div>
		<div class="panel-body" >

			
			<p>
				<div class="form-inline">
					
					<input class="form-control" type="text" ng-model="search.name" ng-change="filter()" placeholder="Name" />
					
					<input class="form-control" type="number" min="1" ng-model="search.id" ng-change="filter()" placeholder="ID" />

					<button class="btn btn-default" ng-click="reload()">
						<span class="glyphicon glyphicon-refresh"></span>
					</button>
				</div>
			</p>

			<table class="table table-hover table-condensed">
				<tr>
					<th><button ng-click="orderByStudents(column.id, sortDirection=!sortDirection)" class="btn btn-link btn-lg">ID</button></th>
					<th><button ng-click="orderByStudents(column.name, sortDirection=!sortDirection)" class="btn btn-link btn-lg">Name</button></th>
				</tr>
				<tr ng-repeat="student in students | filter:selected" ng-click="select(student)">
					<td>{{student.id}}</td>
					<td>{{student.name}}</td>
				</tr>
			</table>

			<pagination ng-hide="selected" direction-links="false" boundary-links="true" total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" max-size="maxSize" items-per-page="itemsPerPage"></pagination>

		</div>
	</div>

</div>